/* My custom styles for the tech blog */
:root {
  --primary: #e0f2f1;
  --secondary: #80cbc4;
  --tertiary: #4db6ac;
  --light-dark: #26a69a;
  --dark: #00897b;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

/* Style for visited links in h2 */
h2 a:visited {
  color: var(--tertiary);
}

/* Style for links in h2 */
h2 a {
  color: var(--primary);
}

/* Main header styles */
header {
  margin-top: 50px;
}

/* Styles for main content area */
main {
  margin: 20px auto;
  width: 94%;
}

/* Card styles for blog posts and forms */
.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 2.5%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
}

/* Button styles */
.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

/* Form styles */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

/* Hero section styles */
.hero {
  padding: 3% 4%;
  background-color: var(--dark);
  color: var(--primary);
}

/* Styles for app logo */
.app-title {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

/* List styles */
.list-group {
  padding: 0;
  list-style: none;
}

/* Responsive design */
@media screen and (min-width: 768px) {
  .card {
    width: 100%;
  }

  /* Add more responsive styles as needed */
}